<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health Checkup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Health Checkup</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/b_cancer">Breast</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/diabetes">Diabetes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/heart">Heart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/kidney">Kidney</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/liver">Liver</a>
              </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!-- Adding cards for checking multiple Diseases -->

   
<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img height="200" src="../static/breast.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Breast Cancer</h5>
              <p class="card-text">Know your chances of Breast Cancer.</p>
              <a href="/b_cancer" class="btn btn-warning">Check</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img height="200" src="../static/diabetes.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Diabetes</h5>
              <p class="card-text">Know your chances of Diabetes.</p>
              <a href="/diabetes" class="btn btn-warning">Check</a>
            </div>
          </div>
        </div>
        <div class="col">
            
          <div class="card">
            <img height="200" src="../static/heart.jpg" class="card-img-top" alt="...">
 
            <div class="card-body">
              <h5 class="card-title">Heart</h5>
              <p class="card-text">Know your chances of Heart Diseases.</p>
              <a href="/heart" class="btn btn-warning">Check</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img height="200" src="../static/kidney.png" class="card-img-top" alt="...">
 
            <div class="card-body">
              <h5 class="card-title">Kidney</h5>
              <p class="card-text">Know your chances of Kidney.</p>
              <a href="/kidney" class="btn btn-warning">Check</a>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card">
              <img height="200" src="../static/liver.jpg" class="card-img-top" alt="...">
    
              <div class="card-body">
                <h5 class="card-title">Liver</h5>
                <p class="card-text">Know your chances of Liver Diseases.</p>
              <a href="/liver" class="btn btn-warning">Check</a>
              </div>
            </div>
          </div>
          
      </div>
</div>
    

    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>